/***************************************\

	kyco-cp-theme
	=============

	Version 1.2.0

	Brought to you by
	http://www.kyco.io/

	Copyright 2014 Cornelius Weidmann

	Distributed under the GPL

\***************************************/

// Set to true to use your own colours, set to false to use default kyco colours.
$custom_scheme: false;

/*
**	DO NOT CHANGE the following colours! They serve as default colours.
**	EDIT custom colours in global.scss
*/

// Menu colours:
$mainNavBackground                          : #000;
$textColour                                 : #fff;
$hoverTextColour                            : $mainNavBackground;
$primaryColour                              : #27343c;
$secondaryColour                            : #ecf1f4;
$dropDownHoverBackgroundColour              : $secondaryColour;
$primarySeparatorColour                     : #5f6c74;
$secondarySeparatorColour                   : #777;
$listItemSelectorBackgroundColour           : #ccc;
$listItemSelectorHoverBackgroundColour      : #999;
$quickTabTextColour                         : $primarySeparatorColour;
$quickTabHoverTextColour                    : #e11842;
$homeAndQuickTabButtonHoverBackgroundColour : $mainNavBackground;
$dropdownMenuListItemsHoverBackgroundColour : $primaryColour;
$dropdownMenuListBackgroundColour           : $primaryColour;
$dropdownBoxShadowFirstChild                : 0 3px 3px $mainNavBackground;
$dropdownBoxShadow                          : 0 0px 5px $mainNavBackground;
$primaryNavDivider                          : 1px solid $primarySeparatorColour;
$secondaryNavDivider                        : 1px dotted $primarySeparatorColour;
$rightHandButtonsHoverBoxShadow             : 0 0 0 1px $secondarySeparatorColour;
$rightHandButtonsTextColour                 : $textColour;
$rightHandButtonsBackgroundColour           : $mainNavBackground;
$rightHandButtonsDivider                    : 1px dotted $secondarySeparatorColour;

// Layout colours:
$htmlAndFooterBg : $primaryColour; //#3e4c54
$breadCrumbBg    : lighten($primaryColour, 20%); //#ECF1F4;
$breadCrumbFont  : #fff;
$headingBg       : $primaryColour; //#ABB7C3;

$footerFont     : #8F9A9C;
$footerLinkFont : #ccc;

$rowBg              : #fff; //lighten($primaryColour, 10%);
$rowButtonBg        : $primaryColour;
$rowButtonFont      : #fff;
$rowButtonBgHover   : darken($primaryColour, 10%);
$rowButtonFontHover : #fff;
